.main--details {
    padding-top: 2em;
};

.image {
    width: 10em;
    height: auto;
}

.card-desc {
    text-align: left;
    padding: 50px;
}

.MuiLinearProgress-barColorPrimary {
    background-color: #90f9a7;
  }